body {
	font-family: Helvetica;
}

.prototype {
	display: none;
}

.agentDataDisplay {
	overflow: hidden;
}

.mainDataDisplay, .agent {
	overflow: hidden;
	postion: absolute;
	vertical-align: middle;
	margin: 10px;
	padding: 10px;
	background-color: grey;
	border-radius: 7px;
}

.mainDataDisplay div, .agentDataDisplay div {
	float: left;
}

.JidContainer {
	width: 350px;
	overflow: hidden;
}

.bigNumberContainer {
	width: 200px;
	padding: 10px;
	overflow: hidden;
}
.bigNumberContainer div {
	float: none;
}

.labelContainer {
	position: relative;
	width: 50px;
	right: 0px;
	top: 90px;
	text-align: center;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
}

.agentJid {
	font-size: 20px;
}

.label, .unit {
	font-size: 30px;
	font-weight: bold;
}

.bigNumber {
	font-size: 100px;
	font-weight: bold;
}

.agentNumberContainer {
	width: 100px;
	overflow: hidden;
}

.agentNumber {
	font-size: 50px;
	font-weight: bold;
}

canvas {
	border: 1px solid black;
}
